.header__lang-link_selected {
    margin: 0;
    text-decoration-line: underline;
}

@media screen and (max-width: 600px) {
    .header__lang-link_selected {
        font-size: 18px;
        line-height: 111%;
    }
}