.lead__image-box {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    gap: 8px;

}

@media screen and (max-width: 1124px) {
    .lead__image-box {
        max-width: 928px;
    }
}

