.places{
    margin: 0 148px 92px 148px;
}

.place{
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.place__title{
    max-width: 460px;
    height: 152px;
    /*left: 148px;*/
    /*top: 2517px;*/

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
}

.place__url-heading{
    max-width: 456px;
    height: 12px;
    /*left: 648px;*/
    /*top: 2623px;*/

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 0.2em;
}

.place__link{
    max-width: 456px;
    height: 22px;
    /*left: 648px;*/
    /*top: 2647px;*/

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__paragraph{
    max-width: 484px;
    height: 145px;
    /*left: 648px;*/
    /*top: 2717px;*/

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
}

.place__image{
    width: 460px;
    height: 460px;
}

.place__website{
    width: 456px;
    height: 46px;
    /*left: 648px;*/
    /*top: 2623px;*/
}