.places {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

@media screen and (max-width: 984px) {
    .places {
        row-gap: 73px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 600px) {
    .places {
        row-gap: 50px;
    }
}