.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 92px;
}

@media screen and (max-width: 984px) {
    .content {
        row-gap: 88px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        row-gap: 64px;
    }
}





