.logo {
    background-image: url("../../images/header-logo.svg");
    z-index: 1;
    width: 176px;
    height: 52px;
}


@media screen and (max-width: 568px) {
    .logo {
        width: 142px;
        height: 42px;
        background-size: cover;
    }
}